<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/userlogin.css">
</head>
<body>
    <div id="Container">
        <h1> REGISTER</h1>
        <form>
            <label>Enter Your Name</label><br><br>
            <input type="text" name="name2" placeholder="Enter Name"><br><br>
            <label>Email</label><br><br>
            <input type="email" name="email2" placeholder="Email"><br><br>
            <label>Password</label><br><br>
            <input type="password" name="password1" placeholder="password"><br><br>
            <label>Retype Password</label><br>
            <input type="password" name="password2" placeholder="password"><br><br>

        </form>
        <div id="allbutton">
            
                <button class="button">Register</button>
            
            
        </div>
    </div>
</body>
</html>